
# pixi environments
.pixi
*.egg-info

# all python cache files and intermediate files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints
*.so
*.dylib
*.pyc
*.pyc
giveLit-output*.html
src/givelit/__pycache__/
outputs/*
outputs/metagenomics.html
